{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">
  <h2 class="section-title">
    {{ publications.title }}
  </h2>

  {% for section in publications.sections %}
    <h3>{{ section.category_title }}</h3>

    {% for paper in section.papers %}
      <div class="item">
        {% if paper.link %}
          <a href="{{ paper.link }}" target="_blank">
            {{ paper.title }}
          </a>
        {% else %}
          <strong>{{ paper.title }}</strong>
        {% endif %}

        <div class="publication-authors">
          {{ paper.authors }}
        </div>
        <div class="publication-conference">
          {{ paper.conference }}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</section>
{% endif %}
